*{
    box-sizing: border-box;
}

body {
    background-color: hsla(224, 35%, 11%, 1);
    font-family: "Chivo", sans-serif;
    height: 100vh;
}

/* HEADER */

header {
    display: flex;
    justify-content: center;
    margin: 55px auto;
}

h1 {
    margin: auto 0;
    margin-left: 10px;
    font-size: 36px;
    font-weight: 600;
    color: hsla(0, 0%, 100%, 1);
}

/* MAIN */

h2 {
    color: #54E6AF;
    font-size: 26px;
    font-weight: 100;
    margin-top: 68px;
}

h2 span {
    color: #FFFFFF;
}

#description {
    margin: 40px auto;
    text-align: center;
    width: 327px;
}

#details {
    color: #C2CBE5;
    font-weight: 100;
    font-size: 15px;
    line-height: 25px;
}

#logos {
    display: flex;
    justify-content: center;
}

/* FORM */

form {
    display: flex;
    flex-direction: column;
    max-width: 327px;
    margin: 40px auto;
}

.formItem {
    border-radius: 25px;
    border: none;
    height: 46px;
    font-weight: 700;
}

#email {
    text-indent: 8%;
    background-color: #2C344B;
    color: white;
    cursor: pointer;
}

#email::placeholder {
    color: #969aa5;
    font-size: 14px;

}

#email:focus {
    outline: none;
}

#accessBtn {
    background-color: hsla(157, 74%, 61%, 1);
    cursor: pointer;
}

#accessBtn:hover {
    background-color: #B3FFE2;
}

#errorMsg {
    color: #FB3E3E;
    font-size: 12px;
    font-weight: 700;
    padding: 10px;
    margin: 0;
}

@media only screen and (min-width:768px) {

    header {
        justify-content: flex-start;
        padding-left: 38px;
    }

    #bgImg {
        background-image: url("assets/images/bg-img.png");
        background-position: 55% center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 491px;
        height: 767px;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -1;
    }

    main {
        background-color: #121725;
        position: relative;
        left: 40px;
        top: 95px;
        width: 635px;
        height: 509px;
    }

    #description {
        margin: 20px 0px;
        text-align: left;
    }

    h2 {
        margin: 0px;
        font-size: 48px;
        font-weight: 100;
        width: 635px;
        padding-top: 85px;
    }

    #details {
        font-size: 18px;
        width: 445px;
        line-height: 28px;
    }

    #logos {
        position: relative;
        top: 170px;
        justify-content: flex-start;
    }

    #logos img {
        width: 540px;
    }

    form {
        margin: 10px 0px;
    }

    #email {
        width: 427px;
        height: 56px;
    }

    #accessBtn {
        width: 162px;
        position: absolute;
        top: 365px;
        left: 260px;
    }

    #greenDots {
        background-image: url("assets/images/green-dots.png");
        background-repeat: no-repeat;
        width: 232px;
        height: 104px;
        position: fixed;
        left: 35px;
        bottom: 0;
        z-index: -2;
    }
}
